{{#each projects as |project|}}
  <div class="row" data-aos="zoom-in-up">
    <div class="col-md-4">
      <img
        src="/images/{{project.project_image}}"
        class="card-img"
        alt="get moving image"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> {{project.title}}</h5>
        <p class="card-text"> {{project.description}}</p>
        <p class="card-text">
          <div class="links">
            <a
              target="blank"
              class="project-link"
              href="{{project.repo_url}}"
            >Repo</a>

            <a
              target="blank"
              class="project-link"
              href="{{project.deployed_url}}"
            >Deployed</a>
          </div></p>
      </div>
    </div>
  </div>

{{/each}}



    <div class="d-flex justify-content-center container">
      <div class="head row">
        <div class="card" data-aos="zoom-in-down">
          <div
            class="card-body"
            data-aos="fade-up"
            data-aos-anchor-placement="top-center"
          >
            <h5 class="card-title">Skills</h5>
         <ul class="list-group list-group-flush">
  
  {{#each skills as |skill|}}

{{> skills }}

{{/each}}
  </ul>
          </div>
        </div>

      </div>
    </div>



<div class="d-flex justify-content-center container">
      <div class="head row">

        <div class="card">
          <div
            class="card-body"
            data-aos="flip-left"
          >
            <h5 class="card-title">Employment</h5>
         <ul>
  {{#each employments as |employments|}}
{{> employments }}
{{/each}}
</ul>

          </div>
        </div>

      </div>
    </div>



