
{{#each projects as |project|}}
  <div class="row">
    <div class="col-md-4">
      <img src="/images/{{project.project_image}}" class="card-img" alt="get moving image" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> {{project.title}}</h5>
        <p class="card-text"> {{project.description}}</p>
        <p class="card-text">
          <div class="links">
          <a target="blank" class="project-link" href="{{project.repo_url}}" >Repo</a>
          
          <a  target="blank" class="project-link"  href="{{project.deployed_url}}">Deployed</a>
          </div></p>
      </div>
    </div>
  </div>

{{/each}}

<div class="alert alert-secondary title" role="alert">
 Skills
</div>

<div class="row skills">
<ul>
{{#each skills as |skill|}}

{{> skills }}


{{/each}}
</ul>
</div>


<div>
<div class="alert alert-secondary title" role="alert">
 Employment
</div>

<div class="row ">
<ul>
  {{#each employments as |employments|}}
{{> employments }}
{{/each}}
</ul>
</div>


